body{
font-family: tohama;
}
#outer{
    width: 675px;
    height: 460px;
    margin: 0px;
    background-color: #EEEEEE;
}
h1{
    color: #1a3d5f;
    padding: 10px;
}
header p{
    font-size: 0.8em;
    color: #a4a4a4;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-top: -20px;
}
#register{
    float: left;
    width: 300px;
    padding: 15px;
    height: 200px;
}
#log{
    float: left;
    width: 300px;
    padding: 15px;
    height: 300px;
    background-color: #234465;
    color:white;
}
#new{
    color: #6d6d6d;
}
#reg{
    color: #15395c;
}
input{
    height: 40px;
    width: 286px;
    margin-bottom: 15px;
    padding-left: 10px;
}
#register p #log p{
    font-weight: bold;
    margin-top: -5px;
}
#register input{
    barder-color:#d9d9d9;
    border-style: solid;
}
#register input[type="submit"]{
    float: right;
    width: 130px;
    border: solid #234465;
    color: #234465;


}
#log input[type="submit"]{
    border: solid #ffa700;
    background-color: #234465;
    color: white;
    width: 150px;
    float: right;
}
#log a{
    color: white;
    font-size: 0.8em;
    padding-left: 200px;
}
#log label{
    vertical-align: top;
    font-size: 0.8em;

}
#remember{
    width: 20px;
    height: 20px;
}